@import 'colors.less';

#app-root-2026-brics .app {
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
  margin: auto auto;
  max-width: 700px;
  .figure_container {
    background-color: #f2f8fc;
    border-bottom: 6px solid #009edb;
    margin: 40px auto;
    padding: 20px;
    .title_container {
      display: flex;
      flex-direction: row;
      margin: auto auto 20px auto;
      .text_container {
        width: 100%;
        .main_title_container {
          align-items: center;
          display: flex;
          gap: 10px;
          margin-bottom: 14px;
          img {
            height: 44px;
            margin: 0;
            width: 44px;
          }
          .title {
            h3 {
              color: #000;
              font-size: 22px;
              font-weight: 700;
              line-height: normal;
              margin: 0 0 2px 0;
            }
          }
        }
        h4 {
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          margin: 0 0 0 0;
          max-width: 1200px;
        }
      }
    }
    .svg_container {
      font-family: Inter, Helvetica, Arial, sans-serif;
      svg {
        max-width: 100%;
        min-width: 600px;
        .nodelabel {
          fill: #000;
          font-size: 14px;
          pointer-events: none;
        }
      }
    }
    .caption_container {
      color: rgba(0, 0.0, 0.0, 0.8);
      font-size: 12px;
      line-height: 14px;
      padding: 0 5px;
      a {
        text-decoration: underline;
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@import 'basics.less';